extends layout

block hero-unit
  header
    .text-center
      h1 Welcome to 
      h1 SurveyNA
      hr
      p 간단한 가입 후 클릭 몇 번 만으로 오직 당신만을 위한 설문조사지를 만들 수 있습니다.
      a.btn.btn-lg.btn-primary.btn-xl(href='#') Get Started
